In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_diabetes #당뇨병

In [ ]:
diabete=load_diabetes()
df=pd.DataFrame(diabete.data, columns=diabete.feature_names)
df['degree']=diabete.target
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,degree
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [ ]:
input=diabete.data
output=df['degree']

In [ ]:
from sklearn.model_selection import train_test_split
train_input, test_input, train_output, test_output=train_test_split(input,output)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
RFR=RandomForestRegressor(max_depth=4)

In [ ]:
RFR.fit(train_input,train_output)

RandomForestRegressor(max_depth=4)

In [ ]:
RFR.feature_importances_

array([0.02149309, 0.00346369, 0.31503294, 0.1056318 , 0.01813569,
       0.03722442, 0.03696583, 0.00974317, 0.40507348, 0.04723588])

In [ ]:
diabete.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [ ]:
np.argmax(RFR.feature_importances_)

8

In [ ]:
np.corrcoef(RFR.predict(test_input),test_output)

array([[1.        , 0.75173215],
       [0.75173215, 1.        ]])

In [ ]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(RFR.predict(test_input),test_output)
MSE

3407.7613884340863

In [ ]:
NMSE=MSE/np.max(test_output)
NMSE

9.84902135385574